* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

main {
    max-width: 1200px;
    padding: 5em;
    margin-left: auto;
    margin-right: auto;
}

main li {
    margin: 30px 0;
}

main h2 {
    padding-top: 120px;
}

.caption::before {
    content: "|";
    margin-right: 3px;
}

.caption.both::after {
    content: "|";
    margin-left: 3px;
}

.caption {
    display: inline-block;
    color: #888;
    margin: 0;
}

.hide {
    display: none;
}

.goup {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: #000000;
    border-radius: 50%;
}

.goup a {
    color: inherit;
    display: flex;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.goup a span {
    width: 100%;
    text-align: center;
    font-size: 10pt;
    margin: auto 0;
}

@media(max-width: 800px) {
    main {
        padding: 20px;
    }
}